@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
    background-color: #30343f;
}
header {
    
    background-color:#191e2b;
    font-family: "Playwrite NG Modern", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 20px;
    
}
h1 {
    color: white;
    font-size: 16px;
}
/*#headerBoton {
    display: flex;
}*/
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-family: "Playwrite NG Modern", cursive;
    background-color: #30343f;
    gap: 30px;
    

}
#container {
    display: block;
    width: 350px;
    height: 350px;
    background-color: white;
    border: 1px solid black;
    margin:auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container-img {
    width: 100%;
    height: 250px;
    border: 1px solid red;
    background-color: #252935;
}

 img { 
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.button-descargar {
    margin-bottom: 50px;
}


    
aside {
    background-color: #252935;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    width: 200px;
    
    
}
h2 {
    
    text-align: center;
    color: white;
    padding-top: 30px;
}

p {
    color: black;
}
#imagen {
   margin-right: 10px; 
}
#texto {
    margin-right: 10px;

}
#aside-boton-cerrar {
    display: none;
}
#aside-imagen {
    padding-block: 30px;
}




.aside-imagen-url {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    
    }

.aside-imagen-url p {
    color: white;
}
.aside-imagen-url input {
    background-color: #30343f;
    height: 20px;
    border: none;
}

.color {
    background-color:white;
    border-radius: 100px;
    border-color: white;
    width: 20px;
    height: 20px;
}
.aside-imagen-fondo {
    display: flex;
    flex-direction: column;
}
select {
    height: 30px;
}
.aside-imagen-fondo-input {
    display: flex;
    justify-content: space-around;
    padding-block: 20px;
}
.eleccionDeColor {
    background-color: #30343f;
    color: white;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
span {
    font-size: 10px;
}
select {
    background-color: #30343f;
    color: white;
    border: none;
}
.aside-imagen-filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside-imagen-filtros-brillo {
    
    color: white;
    
}




